.big {
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    color: #444;
    height:20px;
    font-size: 16px;
    text-align:center;
}
.small {
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    color: #666;
    height:20px;
    font-size: 15px;
    text-align:center;
}
.arrows {
    color: #aaa;
    font-size:30px;
    width:30px;
    height:100%;
    cursor:pointer;
}

.uparrow {
    float:right;
    margin-left:5px;
}
.downarrow {
    float:left;
    margin-right:5px;
}
.np-songinfo {
    height:100%;
}
.songinfo {
    height:100%;
    margin-left:30px;
    margin-right:30px;
}

.arrows:hover {
    color: #ccc;
}
.active {
    color: #000;
}

.searchResult {
    background: #fff;
}

.searchResult:hover {
    background: #eff;
}

.now-playing {
    background: none;
}

.listener-link {
    text-align: center;
    color: #ccc;
}

#progress {
    position: absolute;
    margin: -10px -10px -10px -15px;
    height: 100%;
    background-color:#eee;
    z-index: -1;
}

#mute {
    font-size:40px;
    padding:5px;
    float:left;
    cursor:pointer;
}
#mute:hover {
    color: #777;
}
#volume{
    width:200px;
    height:50px;
}
