.big {
    color: #444;
    width:100%;
    height:30px;
    font-size: 20px;
}

.small {
    width:100%;
    color: #666;
    height:20px;
    font-size: 15px;
}

.nowplayingicon {
    color: #000;
    font-size:50px;
    margin-right:20px;
    width:50px;
    float:left;
    height:100%;
}
.arrows {
    color: #aaa;
    font-size:50px;
    height:100%;
    cursor:pointer;
}
.left {
    float:left;
}
.right {
    float:right;
}

.uparrow {
    float:right;
    margin-left:20px;
}
.downarrow {
    float:left;
    margin-right:20px;
}
.arrows {
    width:50px;
    height:100%;
}
.np-songinfo {
    height:100%;
}
.songinfo {
    height:100%;
    margin-left:50px;
    margin-right:50px;
}

.arrows:hover {
    color: #ccc;
}
.active {
    color: #000;
}

.searchResult {
    background: #fff;
}

.searchResult:hover {
    background: #eff;
}

.now-playing {
    background: none;
}

.listener-link {
    text-align: center;
    color: #ccc;
}

#progress {
    position: absolute;
    margin: -10px -10px -10px -15px;
    height: 100%;
    background-color:#eee;
    z-index: -1;
}

#mute {
    font-size:40px;
    padding:5px;
    float:left;
    cursor:pointer;
}
#mute:hover {
    color: #777;
}
#volume{
    width:500px;
    height:50px;
}
