.title {
    color: #444;
    font-size: 20px;
}

.artist {
    color: #888;
    font-size: 15px;
}

.nowplayingicon {
    color: #000;
    font-size:40px;
    width:60px;
    float:left;
    height:100%;
}
.arrows {
    color: #ccc;
    font-size:20px;
    width:60px;
    float:left;
    height:100%;
    padding-left:10px;
}

.uparrow {
    height:50%;
}
.downarrow {
    height:50%;
}

.uparrow:hover {
    color: #8f8;
}
.downarrow:hover {
    color: #f88;
}
.active {
    color: #000;
}

.searchResult {
    background: #fff;
}

.searchResult:hover {
    background: #eff;
}

.now-playing {
    background: #fff;
}
