.title {
    color: #444;
    font-size: 20px;
}

.artist {
    color: #666;
    font-size: 15px;
}

.nowplayingicon {
    color: #000;
    font-size:40px;
    width:60px;
    float:left;
    height:100%;
}
.arrows {
    color: #aaa;
    font-size:20px;
    width:60px;
    float:left;
    height:100%;
    padding-left:10px;
}

.uparrow {
    height:50%;
}
.downarrow {
    height:50%;
}

.uparrow:hover {
    color: #ccc;
}
.downarrow:hover {
    color: #ccc;
}
.uparrow .active {
    color: #000;
}
.downarrow .active {
    color: #000;
}

.searchResult {
    background: #fff;
}

.searchResult:hover {
    background: #eff;
}

.now-playing {
    background: none;
}

.listener-link {
    text-align: center;
    color: #ccc;
}

#progress {
    position: absolute;
    margin: -10px -10px -10px -15px;
    height: 100%;
    background-color:#eee;
    z-index: -1;
}

#mute {
    font-size:40px;
    padding:5px;
    float:left;
    cursor:pointer;
}
#mute:hover {
    color: #777;
}
#volume{
    width:400px;
    height:50px;
}
